body {
    // background-color: $color2;
    // background-image: linear-gradient(90deg,#0000005c, rgba(113, 1, 29, 0.408));
    

    background: #e1eec3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}