footer{
    background-color: #000;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-top:50px;
    p{
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Kaushan Script', cursive;}
    a{
        color: rgb(255, 255, 255);
        font-size: 30px;
        letter-spacing: 15px;}
    }